POSTGRES_DB=cinema
POSTGRES_USER=cinema
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
SECRET_KEY=django-insecure-$6^xhca1jx#gq)rl5e19ou)usd2svncv1a(elithqu8#&07*n+
